<ion-view title="Home">
    <ion-content padding="'true'" class="has-header">
        

        <h3 style="text-align :center">Spatial SQL Interpreter</h3>
        <br><br>
        <main>
            <h4>Enter some SQL</h4>


            <label class="item item-input item-stacked-label">
                <input type="text" ng-model="sql">
            </label>
            <br>

            <!--<textarea id="commands">SELECT room_number, AsGeoJSON(Transform(geometry, 4326)) AS geojson FROM room;</textarea>-->

            <div class="button-bar bar-positive">
                <a class="button" ng-click="clickHandler(sql)" id="execute">Execute</a>

                <a class="button" ng-click="clear()">Clear</a>
            </div>


            <div id="error" class="error"></div>

            <br>
            <h4>SQL Results</h4>
            <div class="card">
                <div class="item item-text-wrap">
                    {{value}}
                </div>
            </div>
        </main>
        
        
    </ion-content>
</ion-view>